.image-button-title {
    height: 24px;
    object-fit: contain;
    font-family: Roboto-Regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #d0d0d0;
  }
  .image-button {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  .hide {
    position: absolute;
    background-color: green;
    height: 100px;
    width: 100px;
  }

  .main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  

  .Interpreter-Div-Container {
    width: 242px;
    height: 500px;
    object-fit: contain;
    border-radius: 6px;
    background-color: #0a1c2e;
    display: flex;
    flex-direction: column;
  }

  .title-interpreter {
      height: 30px;
      margin-left: 40px;
      margin-top: 20px;
      object-fit: contain;
      font-family: Roboto-Bold;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #f4f6f8;
  }
  ul.list-text {
    margin: 16px 46px 10px 0px;
    object-fit: contain;
    font-family: Roboto-Regular;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #f4f6f8;
    list-style-type: none;
  }

  .divider-white {
    width: 207px;
    height: 2px;
    margin: 20px 0px 0 20px;
    object-fit: contain;
    background-color: #f4f6f8;
  }

  .chatbox-container {
    width: 435px;
    height: 80vh;
    padding: 0 0 16px;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 0 6px 0 #0a1c2e;
    border: solid 1px #515e70;
    background-color: #0a1c2e;
  }

  .chat-title-container {
    display: flex;
    flex-direction: column;
    width: 435px;
    flex: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    border: solid 1px #283e57;
    background-color: #283e57;
  }

  .chat {
    width: 50px;
  height: 34px;
  
  object-fit: contain;
  font-family: Roboto-Bold;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: -0.24px;
  text-align: center;
  color: #d0d0d0;
  }
  .active-button {
      width: 218px;
      height: 54px;
      object-fit: contain;
      border-radius: 6px;
      background-color: #3398fd;
      border-color: transparent;
  }
  .inactive-button {
    width: 218px;
    height: 54px;
    object-fit: contain;
    background-color: #0a1c2e;
    border-color: transparent;
    
}
.button-title {
  object-fit: contain;
  font-family: Roboto-Bold;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.16px;
  text-align: center;
  color: white;
}

.Rectangle-297 {
  width: 435px;
  height: 1px;
  object-fit: contain;
  background-color: #4e5e72;
}
.user-name {
  object-fit: contain;
  font-family: Roboto-Bold;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.18px;
  text-align: left;
  color: #4db8bf;
}
.message-time {
  object-fit: contain;
  font-family: Roboto-Regular;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.16px;
  text-align: left;
  color: #4e5e72;
}
.receiver-message {
  padding: 10px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  border: solid 1px #515e70;
  object-fit: contain;
  font-family: Roboto-Regular;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: -0.18px;
  text-align: left;
  color: #d0d0d0;
  padding-left: 20px;
}

.sender-message {
  padding: 10px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border: solid 1px #515e70;
  object-fit: contain;
  font-family: Roboto-Regular;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: -0.18px;
  text-align: left;
  color: #d0d0d0;
  padding-left: 20px;
}

.my-name {
  object-fit: contain;
  font-family: Roboto-Bold;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: -0.18px;
  text-align: left;
  color: #ffc13b;
}

.type-message-container {
  width: 342px;
  height: 64px;
  margin: 12px 11px 0 17px;
  padding: 9px 9px 7px 24px;
  object-fit: contain;
  border-radius: 20px;
  border: solid 1px #515e70;
}