.image-button-title {
    height: 24px;
    object-fit: contain;
    font-family: Roboto-Regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #d0d0d0;
  }
  .image-button {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  .hide {
    display: none;
    background-color: green;
    height: 10px;
    width: 10px;
    position: absolute;
    margin-bottom: 100px;
    margin-left: 100px;
  }

  .main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-div:hover + .hide {
    display: flex;
  }

  .Interpreter-Div-Container {
    width: 242px;
    height: 500px;
    object-fit: contain;
    border-radius: 6px;
    background-color: #0a1c2e;
  }

  .title-interpreter {
      width: 99px;
      height: 30px;
      margin: 30px 60px 30px 16px;
      object-fit: contain;
      font-family: Roboto-Bold;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #f4f6f8;
  }